body {
    margin: 0;
    display: grid;
}

#monitor {
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#top_border_container, #bottom_border_container {
    display: flex;
}

#top_border {
    max-height: 5vh;
    height: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        180deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 62%,
        rgb(71, 71, 71) 100%
    );
    flex-grow: 1;
}

#top_left_corner {
    max-width: 5vh;
    width: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        135deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 80%,
        rgb(71, 71, 71) 100%
    );
}

#top_right_corner {
    max-width: 5vh;
    width: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        225deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 80%,
        rgb(71, 71, 71) 100%
    );
}

#bottom_border {
    max-height: 5vh;
    height: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        0deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 62%,
        rgb(71, 71, 71) 100%
    );
    flex-grow: 1;
}

#bottom_left_corner {
    max-width: 5vh;
    width: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        45deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 80%,
        rgb(71, 71, 71) 100%
    );
}

#bottom_right_corner {
    max-width: 5vh;
    width: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        -45deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 80%,
        rgb(71, 71, 71) 100%
    );
}

#middle {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#left_border {
    max-width: 5vh;
    width: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        90deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 62%,
        rgb(71, 71, 71) 100%
    );
}

#right_border {
    max-width: 5vh;
    width: 5vw;
    background: #e3d9b3;
    background: linear-gradient(
        -90deg,
        rgb(127, 127, 127) 0%,
        rgb(118, 118, 118) 62%,
        rgb(71, 71, 71) 100%
    );
}

#screen {
    margin-top: 0;
    position: relative;
    background-color: rgb(15, 4, 0);
    padding: 1em 2em;
    flex-grow: 1;
}

#content a,
nav ul li::before {
    color: orange;
    text-shadow: 0 0 0.1em orange, 0 0 0.2em orange;
}


#content {
    color: orangered;
    font-family: monospace;
    font-size: large;
    text-shadow: 0 0 0.1em orangered, 0 0 0.2em orangered;
    max-width: 50em;
}

footer {
    margin-top: 2em;
}

nav ul,
.ls {
    padding-left: 0;
    margin-top: 0.4rem;
    list-style: none;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
}

nav ul li:not(:first-child) {
    margin-left: 1em;
}

nav ul li::before {
    content: '~/';
}

.readme h1 {
    display: flex;
    font-size: large;
    font-weight: normal;
}

.readme span {
    max-width: fit-content;
}

.readme h1::before, .readme h1::after, .readme::after  {
    content: ' ';
    background-image: url('./equals.png');
    background-size: contain;
    display: block;

    height: 1em;
    word-wrap: break-word;
    margin: auto 0;
    flex-grow: 1;
}

.readme h1::before {
    margin-right: 0.5em;
}

.readme h1::after {
    margin-left: 0.5em;
}


.crt::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}
